#gclist-cont{
    display: flex;
    flex-direction: column;
    border-right: solid black 2px;
    width: 10%;
    height: 85vh;
    align-items: center;
    overflow-y: scroll;
}
#gclist-cont > img{
    border-radius: 50%;
    border: solid black 2px;
    width: 50%;
    height: 8vh;
    margin-top: 10%;
}
#gclist-cont img:nth-child(1){
    border-style: none;
    height: 7vh;
    width: 30%;
}
#gcpage-cont{
    display: flex;
    flex-direction: row;
}
#sectionlist-cont{
    border-right: solid black 2px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#sectionlist-cont > label{
    margin-top: 5%;
}
#chatcont{
    border-right: solid black 2px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#messages-area{
    width: 100%;
    height: 70%;
    border-bottom: solid black 2px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
#send-cont{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    column-gap: 2vw;
    align-items: center;
}
#send-cont textarea{
    width: 75%;
    height: 20vh;
    margin-top: 3%;
    border: solid black 2px;
    resize: none;

}
#send-cont img{
    border: solid black 2px;
    height: 8vh;
    width: 5vw;
}
#opt-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    overflow-y: scroll;
}
#opt-cont img{
    margin-top: 2%;
    border: solid black 2px;
    border-radius: 50%;
    width: 5vw;
    height: 10vh;
}
#opt-cont > label{
    margin-top: 5%;
}
#darkbg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

#popup-cont{

    position: fixed;
    width: 50%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 1%;
    border-radius: 2%;
}
#popup-cont img{
    height: 3%;
    align-self: flex-end;

}
form{
    margin-top: 2%;
}
#join{
    display: flex;
    flex-direction: column;
}
#create{
    display: flex;
    flex-direction: column;
    
}
#create img{
    align-self: center;
    border: solid black 2px;
    height: 20vh;
    border-radius: 50%;
    width: 10vw;
}
#section{
    display: flex;
    flex-direction: column;
}

.avat-cont{
    display: flex;
    flex-direction: row;
}
.mesBody{
    background-color: aqua;
    border: solid black 2px;
    border-radius: 50px;
    padding: .2%;
    
}
.useravatar{
    border: solid black 2px;
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
}
#gcdefcont{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    overflow-y: scroll;
    padding: 2% 0% 2% 10%;
}
#gcdefcont > img{
    height: 10vh;
}
#upIco{
    position: absolute;
    top: 90%;
    left: 50%;
    width: 25%;
    height: 50vh;
}