#slider_cont{
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    width: 50%;
    
}

#imgCont{
    display: flex;
    flex-direction: row;
    height: 50vh;
    column-gap: 2vw;
    transform-origin: center;
    border: solid black 2px;
    overflow-x: hidden;
    width: 30vw;
}
#imgCont > img{
    width: inherit;
    height: 50vh;
    
    animation-duration: 4s;
    animation-iteration-count: infinite;   
}
.centerImage{
    
}
@keyframes slides{
    0%{
        opacity: 100%;
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
        opacity: 0%;
    }
}