
._form{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;    
    align-items: center;
}
._form input{
    width: 80%;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 4% 2% 4% 2%;
    
}

._form label{
    margin: 5% 5% 0% 8%;
    align-self: flex-start;
}
.form input:active{
    border: solid black 3px;
}
._form button{
    background-color: transparent;
    border: solid black 3px;
    padding: 2%;
    margin-top: 5%;
}
.desk-form{
    display: flex;
    flex-direction: column;
    height: 60vh;
    position: absolute;
    width: 30vw;
    background-color: #E4E5E8;
    padding: 2%;
    transform: translate(100%,20%);
    
}

.desk-form h1{
    font:'Britannic Bold';
    text-shadow: 3px 3px rgb(252, 100, 100);
    letter-spacing: 1vh;
    font-size: 50pt;
}

.desk-form label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2vh;
}
.desk-form input{
    font-family:'Arial';
    margin-top: 2vh;
    height: 8vh;
    background-color: #53565A;
    border-radius: 5px;
    border: none;
    padding-left: 2%;
    color: #ffffff;

}

.desk-form button{
    height: 10vh;
    width: 8vw;
    background-image: linear-gradient(90deg, rgb(86, 202, 248), rgb(248, 105, 105));
    border: solid black 2px;
    margin-top: 2vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    cursor: pointer;
    color: #000000;
    font-size: medium;
    opacity: 0.6;
    transition: 0.5s;
}

.desk-form button:hover{
    opacity: 1;
   
}

.signinpage a{
    margin-top: 2vh;
    text-decoration: none;
    align-self: center;
}